# DATA Network RPCs
VITE_DATA_EXECUTION_RPC=https://story-rpc.publicnode.com
VITE_DATA_CONSENSUS_RPC=https://story-consensus-rpc.publicnode.com

# Trusted CometBFT block used to initialize a new browser profile
VITE_DATA_TRUST_HEIGHT=20044541
VITE_DATA_TRUST_HASH=9929C08444D99A82908E007CB0A45AF073A424630E46A1289E6C7C2CB98C8449
